

/* ------------------ SHARED STYLES ------------------ */


.itemsec {
  display: flex;
  /* align-items: center; */
  gap: 10px;
  padding: 15px;
  color: #222;
  font-weight: 500;
  cursor: pointer;
}
.main {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex-grow: 1;
  }
.itemsec:hover {
  background-color: var(--darkblue);
  border-radius: 10px;
}

.customer-support {
  width: 24px;
  height: 24px;
}

.sellerinfo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px;
  border-top: 1px solid #eee;
}

.sellerheading {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.selleremail {
  font-size: 13px;
  color: var(--grey);
  font-weight: 400;
  margin: 0;
}

.sellerimage img {
  border-radius: 50%;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ------------------ DESKTOP SIDEBAR ------------------ */
.sidebar-wrapper {
  padding:10px 20px;
  background-color: white;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 202;
}

/* ------------------ MOBILE STYLES ------------------ */
.hamburger-floating-button,
.close-button {
  display: none;
}

.mobile-sidebar {
  display: none;
}

@media (max-width: 768px) {
  .sidebar-wrapper {
    display: none;
  }

  .mobile-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 999;
    transition: left 0.3s ease-in-out;
    padding: 1rem 1.5rem;
  }

  .mobile-sidebar.open {
    left: 0;
  }

  .hamburger-floating-button {
    display: block;
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
    /* background-color: white; */
    background-color: transparent;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .close-button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }

  .main {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex-grow: 1;
  }

  .sellerinfo {
    padding-top: 1rem;
  }

 
}
