.deliverylocation{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    gap:30px;
    width: 100%;
}
.checkoutright{
    width:30%;
}
.checkoutleft{
    width: 70%;;
}
.checkoutright .subtotal{
    padding:15px 0px;
}
.checkoutright .subtotal-section{
    margin:0px;
}
.checkoutright .quantitycard{
    margin-top:30px;
}
.address-container{
    padding:0px 20px;

}
.address-container p{
    color:var(--grey);
    font-size: 17px;
    
}
@media(max-width:768px){
    .deliverylocation{
        display: grid;
        grid-template-columns: 1fr;
    }
    .checkoutleft{
        width: 100%;
    }
    .checkoutright{
        width: 100%;
    }
}