.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f7fc;
}

.forgot-container {
  width: 30%;
}

.forgot-box {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px 20px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.forgot-box h1 {
  text-align: center;
  font-size: 26px;
  color: #2c0dff;
  font-weight: 700;
  margin-bottom: 24px;
}

.form-group {
  margin-bottom: 18px;
}

.form-group input {
  width: 100%;
  padding: 14px;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  font-size: 14px;
  background-color: #fafafa;
  outline: none;
  transition: border-color 0.2s;
}

.form-group input:focus {
  border-color: #f1592a;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 6px;
  font-weight: 500;
}

.forgot-button {
  width: 100%;
  background-color: #f1592a;
  color: white;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.2s;
}

.forgot-button:hover {
  background-color: #e65220;
}

.bottom-links {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  color: #777;
}

.bottom-links a {
  color: #f1592a;
  font-weight: 500;
  text-decoration: underline;
  margin-left: 5px;
  font-size: 16px;
}

.forgot-heading {
  display: grid;
  grid-template-columns: 40px 1fr 40px; /* button | heading | spacer */
  align-items: center;
  margin-bottom: 10px;
}

.forgot-heading .bordered-button {
  justify-self: start;
  border: 1px solid #f1592a;
  border-radius: 8px;
  padding: 6px;
  background: white;
  color: #f1592a;
  cursor: pointer;
}

.forgot-heading h1 {
  text-align: center !important;
  margin: 0;
  font-size: 16px;
  /* font-weight: 700; */
  color: #2c0dff;
}

.forgot-heading .spacer {
  visibility: hidden; /* same size as button to balance */
}
.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 18px;
}

.otp-inputs input {
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  background-color: #fafafa;
  outline: none;
  transition: border-color 0.2s;
}

.otp-inputs input:focus {
  border-color: #f1592a;
}

.resend-button {
  background: none;
  border: none;
  color: #f1592a;
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 6px;
  font-size: 14px;
}

.resend-button:disabled {
  color: #aaa;
  cursor: not-allowed;
  text-decoration: none;
}
