.payment-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding:0px 20px;
    
    border-radius: 10px;
    
 
    
}
.paymentcard{
   
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap:20px;
    margin:15px 20px;
    
}
.paymentheading{
   
    border:1px solid var(--bordergrey);
    border-radius: 10px;
    padding:20px 30px;
    width:65%;
}
.paymentright{
  width:35%;
  display: flex;
  flex-direction: column;
  gap:20px;

}
.payment-main{
  border-radius: 10px;
  background-color: var(--lightbackground);
}

.paymentheader{
   
    border-radius: 10px;
    border-radius: 10px;
     margin: 30px 0px;

   
}
.paymentheading p{
    font-size: 16px;;
    color:#222222;
}
.paymentqr{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.qrcode{
    border:1px solid var(--primary);
    padding: 10px;
    border-radius: 10px;
}
.paymentqr .text{
    color:var(--grey);
    font-size: 15px;
    padding:10px 0px;
    padding-top: 0px;;
}
.paymentqr p{
    font-size: 17px;
    color:black;
}
.or {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 20px 0;
 
}

.or::before,
.or::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc; /* or var(--bordergrey) */
}

/* .or::before {
  margin-right: 10px;
}

.or::after {
  margin-left: 10px;
} */

.or p {
  padding: 9px 12px;
  font-size: 16px;

   background-color: #D9D9D9;
  border-radius: 50%;
  color: #222;
  white-space: nowrap;
}

.upisubmit{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    width: 100%;
    padding:0px 70px;
}

.upisubmit input{
border:1px solid var(--bordergrey);
padding:10px;
border-radius: 10px;
width: 100%;
}
.debitcard, .cashondeilvery,.cod{
  border:1px solid var(--primary);
  border-radius: 10px;;
  padding:15px ;
  display: flex;;
  align-items: center;
  justify-content: space-between;
}
.debitleft{
  display: flex;
  flex-direction: column;
  gap:15px;
}
.paymentbutton{

float: right;

}

.payment-headername h2{
  font-size: 20px;;
}
.debitcard .debitleft{
  gap:20px;
}
.paymentmethodicons{
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  margin:15px 0px;
}
.paymentmethodicons img{
  margin-right: -8px;;

}